---
layout: base.njk
pagination:
  data: yachts
  size: 1
  alias: yacht
permalink: "/yachts/{{ yacht.slug }}/index.html"
eleventyComputed:
  title: "{{ yacht.name }} - Sylvia Bolton Design"
---

<div class="container">
    <div class="columnsContainer">
        <DIV class="in_progress_left_column">
            <h2 id="boat_name">{{ yacht.name }}</h2>
            {% if yacht.tourUrl %}
                <p><a href="{{ yacht.tourUrl }}" target="_blank"><img class="tour_icon_image" src="/assets/img/carousel/tour_icon.jpg" alt="Virtual Tour"> View Virtual Tour</a></p>
            {% endif %}
        </DIV>
        <div class="rightColumn">
            {% for image_filename in yacht.images %}
                <img id="single_item_main_image"
                    src="{{ yacht.imageDir }}{{ image_filename }}"
                    alt="{{ yacht.name }} image {{ loop.index }}">
            {% endfor %}
        </div>
    </div>
</div>
