---
layout: base.njk
pagination:
  data: yachts
  size: 1
  alias: yacht
permalink: "/yachts/{{ yacht.slug }}/index.html"
eleventyComputed:
  title: "{{ yacht.name }} - Sylvia Bolton Design"
---
<style>
#yacht_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    max-width: 100%;
    width: auto;
    height: auto;
    max-height: 900px;
    object-fit: contain;
}
#fixed_div { /* This style might not be needed if boat name is not fixed */
	position: fixed;
	top: 132px;
	left: 20px;
}
#boat_name {
    /* position: fixed; */ /* Removed fixed positioning for now */
	/* top: 100px; */
	/* left: 20px; */
    margin-top: 20px; /* Added some margin for when not fixed */
    margin-bottom: 15px;
    font-size: 24px; /* Example size */
    font-weight: bold;
}
.photo_txt {
	width:96%;
	text-align:right;
	margin-top: -20px;
}

/* Media query from original file - adjust if #boat_name or #fixed_div are used differently */
@media only screen and (max-width: 840px) {
    #boat_name {
        /* position: absolute; */ /* If it were to be fixed/absolute */
        /* top: 100px; */
        /* left: 20px; */
    }
    #fixed_div {
        /* position: absolute; */
        /* top: 132px; */
        /* left: 20px; */
    }
    .photo_txt {
        margin-top:-20px;
    }
}
</style>

<div class="container">
    <img src="/assets/pics/spacer.gif" width="300px" height="12px" alt="" style="display:block; margin-top: 20px;" /><BR>
    <div class="columnsContainer">
        <DIV class="leftColumn" style="border: none;">
            <h2 id="boat_name">{{ yacht.name }}</h2>
            {% if yacht.tourUrl %}
                <p><a href="{{ yacht.tourUrl }}" target="_blank"><img src="/assets/img/carousel/tour_icon.jpg" alt="Virtual Tour" style="max-width:100px; margin-bottom:15px;"> View Virtual Tour</a></p>
            {% endif %}
        </DIV>
        <div class="rightColumn">
            {% for image_filename in yacht.images %}
                {% if image_filename != "Thumbnail" + yacht.name + ".jpg" and image_filename != "Hattrick-Thumbnail.JPG" %} {# Attempt to exclude known thumbnail patterns #}
                <img id='yacht_image' src='{{ yacht.imageDir }}{{ image_filename }}' alt="{{ yacht.name }} image {{ loop.index }}" /><BR><div class='photo_txt'>&nbsp;<BR><BR></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
