---
layout: base.njk
title: Contact - Sylvia Bolton Design
---

<div class="container">

        <img id="sunset" src="/assets/pics/sunset.jpg" srcset="/assets/pics/sunset.jpg" width="1600" height="667" loading="lazy" />
	<div id="title">
	INTERIOR DESIGN FOR YACHTS
	</div>

	<div id="address1">
			Tel: 1+206.217.0863<BR>
			eMail info@sylviabolton.com
			<BR>
	</div>

	<div class="columnsContainer">

		<DIV class="leftColumn">
			<div id="address2">
			Tel: 1+206.217.0863<BR>
			eMail info@sylviabolton.com
			<BR>
			</div>
		</DIV>

		<div class="rightColumn" >

		</div>

	</div>

	<BR>
</div>
