---
layout: base.njk
title: Design Development - Sylvia Bolton Design
---

<main class="main-content">
  <div class="yacht-gallery">
    {% for project in inprogress_projects %}
      {% if project.thumbnail %}
        <div class="yacht-item">
          <a href="/design-development/{{ project.slug }}/">
            <img src="{{ project.thumbnail }}" alt="{{ project.name }} thumbnail" />
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</main>

