---
layout: base.njk
title: Sylvia Bolton Design - Yacht Interior Design
---

{% block pagestyles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css">
<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}



<section>
<!-- GLIDE CAROUSEL -->
<div class="glide" id="main-carousel">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <li class="glide__slide"><img src="/assets/img/carousel/01.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/02.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/03.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/04.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/05.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/06.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/07.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/08.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/09.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/10.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/11.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/12.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/13.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/14.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/15.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/16.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/17.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/18.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/19.jpg" alt=""></li>
      <li class="glide__slide"><img src="/assets/img/carousel/20.jpg" alt=""></li>
    </ul>
  </div>
  <div class="glide__arrows" data-glide-el="controls">
    <button class="glide__arrow glide__arrow--left" data-glide-dir="<">&#8592;</button>
    <button class="glide__arrow glide__arrow--right" data-glide-dir=">">&#8594;</button>
  </div>
  <div class="glide__bullets" data-glide-el="controls[nav]"></div>
</div>



<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
  new Glide('.glide', {
    type: 'carousel',
    autoplay: 3500,
    hoverpause: true,
    perView: 1,
    animationDuration: 700,
    gap: 0,
    breakpoints: {
      900: { perView: 1 }
    }
  }).mount();
</script>



         <!-- SECOND BLOCK -->
<div id="page_container">
<div id="body_text">
<!--We are a full service design house dedicated to the art of creating the prefect interior for each of our clients. Every individual has their own view of the world.  We work with a client's unique taste and desires to create spaces which will stimulate and inspire them the most, whether the spaces are their primary dwelling or their favorite retreat.<BR>
<BR>
Our Services include:
<UL>
<li>Interior architecture and design
<li>Styling, lighting  and furnishing
<li>Art and accessories
<li>All individually created for the enjoyment, convenience and safety of its patrons
</UL>
Sylvia Bolton has over 30 years of design experience; she formed Sylvia Bolton Design in 1993 in Seattle. The studio is currently working with clients around the world.  -->

We are a full service design house, dedicated to the art of creating the prefect interior for each of our clients. Every individual has their own view of the world.  We work with their unique taste and desires to create the spaces which will stimulate and inspire them the most, whether they are for their primary dwelling or their favorite retreat.
<BR>
Our Services include:
<UL>
<li>Interior architecture and design
<li>Styling, lighting  and furnishing
<li>Art and accessories
<li>All individually created for the enjoyment, convenience and safety of its patrons
</UL>
Sylvia Bolton has over 30 years of design experience and formed Sylvia Bolton Design in 1993 in Seattle. The studio is working with clients around the world.

<BR><BR>

</div>
</section>
