---
layout: base.njk
title: Sylvia Bolton Design - Yacht Interior Design
---

<section>
         <!-- CAROUSEL -->
         <div id="carousel">
            <div id="owl-demo" class="owl-carousel owl-theme">
               <div class="item">
                  <img src="/assets/img/carousel/01.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/assets/img/carousel/02.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/assets/img/carousel/03.jpg" alt="">
               </div>

				<div class="item">
                  <img src="/assets/img/carousel/04.jpg" alt="">
               </div>
				<div class="item">
                  <img src="/assets/img/carousel/05.jpg" alt="">
               </div>

				<div class="item">
                  <img src="/assets/img/carousel/06.jpg" alt="">
               </div>
				<div class="item">
                  <img src="/assets/img/carousel/07.jpg" alt="">
               </div>

				<div class="item">
                  <img src="/assets/img/carousel/08.jpg" alt="">
               </div>

				<div class="item">
                  <img src="/assets/img/carousel/09.jpg" alt="">
               </div>

				<div class="item">
                  <img src="/assets/img/carousel/10.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/assets/img/carousel/11.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/assets/img/carousel/12.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/assets/img/carousel/13.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/assets/img/carousel/14.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/assets/img/carousel/15.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/assets/img/carousel/16.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/assets/img/carousel/17.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/assets/img/carousel/18.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/assets/img/carousel/19.jpg" alt="">
               </div>
               <div class="item">
                  <img src="/assets/img/carousel/20.jpg" alt="">
               </div>
            </div>
         </div>




      <script type="text/javascript" src="/assets/owl-carousel/owl.carousel.js"></script>
      <script type="text/javascript">
         jQuery(document).ready(function($) {
           $("#owl-demo").owlCarousel({
		slideSpeed : 300,
		autoPlay : true,
		navigation : false,
		pagination : false,
		singleItem:true
           });
           $("#owl-demo2").owlCarousel({
		slideSpeed : 300,
		autoPlay : true,
		navigation : false,
		pagination : true,
		singleItem:true
           });
         });

      </script>






         <!-- SECOND BLOCK -->
<div id="page_container">
<div id="body_text">
<!--We are a full service design house dedicated to the art of creating the prefect interior for each of our clients. Every individual has their own view of the world.  We work with a client's unique taste and desires to create spaces which will stimulate and inspire them the most, whether the spaces are their primary dwelling or their favorite retreat.<BR>
<BR>
Our Services include:
<UL style="list-style-type: none;">
<li>Interior architecture and design
<li>Styling, lighting  and furnishing
<li>Art and accessories
<li>All individually created for the enjoyment, convenience and safety of its patrons
</UL>
Sylvia Bolton has over 30 years of design experience; she formed Sylvia Bolton Design in 1993 in Seattle. The studio is currently working with clients around the world.  -->

We are a full service design house, dedicated to the art of creating the prefect interior for each of our clients. Every individual has their own view of the world.  We work with their unique taste and desires to create the spaces which will stimulate and inspire them the most, whether they are for their primary dwelling or their favorite retreat.
<BR>
Our Services include:
<UL style="list-style-type: none;">
<li>Interior architecture and design
<li>Styling, lighting  and furnishing
<li>Art and accessories
<li>All individually created for the enjoyment, convenience and safety of its patrons
</UL>
Sylvia Bolton has over 30 years of design experience and formed Sylvia Bolton Design in 1993 in Seattle. The studio is working with clients around the world.

<BR><BR>

</div>
</section>
