---
layout: base.njk
title: Other Projects - Sylvia Bolton Design
---

{% block pagestyles %}
<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

<div class="container">
  <div class="columnsContainer">
    <div class="leftColumn" style="border: none;">
      <!-- Optional: add a description or text here -->
    </div>
    <div class="rightColumn">
      <div class="yacht-gallery">
        <div class="yacht-item">
          <a href="/other-projects/highland/">
            <img src="/assets/img/other_index_pics/highland.jpg" alt="Highland Project" />
          </a>
        </div>
        <div class="yacht-item">
          <a href="/other-projects/magnolia/">
            <img src="/assets/img/other_index_pics/magnolia.jpg" alt="Magnolia Project" />
          </a>
        </div>
        <div class="yacht-item">
          <a href="/other-projects/eastside_hotel/">
            <img src="/assets/img/other_index_pics/eastside_hotel.jpg" alt="Eastside Hotel Project" />
          </a>
        </div>
        <div class="yacht-item">
          <!-- Optionally add a fourth project or leave blank for grid symmetry -->
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
