---
layout: base.njk
title: Other Projects - Sylvia Bolton Design
---

{% block pagestyles %}
<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

<main class="main-content">
  <div class="yacht-gallery">
    {% for project in other_projects %}
      {% if project.thumbnail %}
        <div class="yacht-item">
          <a href="/other-projects/{{ project.slug }}/">
            <img src="{{ project.thumbnail }}" srcset="{{ project.thumbnail }}" alt="{{ project.name }} thumbnail" loading="lazy" />
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</main>
