---
layout: base.njk
title: Boutique Refits - Sylvia Bolton Design
---

<div class="container">

	<img src="/assets/pics/spacer.gif" width="300px" height="12px"/><BR>

	<div class="columnsContainer">

<DIV class="leftColumn" >

		<!--<img style="float:left; margin:0 20px 10px 0;" src="img/magazine_icon.png" width="100" height="auto" />-->
<b>Boutique Refits</b><BR>
Sometimes an interior does not need to be entirely changed, or the boat schedule does not allow more than a short break on shore. This is when you might consider a minimal "boutique" refit to freshen up an interior.
<BR><BR>
The projects shown here, reflect how an interior can be transformed, just by adding some accents: new furnishings, fabrics and art selected or commission just for your yacht or home.
<BR><BR>
		</DIV>

		<div class="rightColumn">
			<img id='yacht_image' src='/assets/img/refits/2.jpg' width='1600px' /><BR><hr ><BR>
			<img id='yacht_image' src='/assets/img/refits/3.jpg' width='1600px' /><BR><hr ><BR>
			<img id='yacht_image' src='/assets/img/refits/4.jpg' width='1600px' /><BR>
		</div>
	</div>

<BR>
</div>
