---

title: Yachts - Sylvia Bolton Design
layout: base.njk
---

{% block pagestyles %}
<link rel="stylesheet" href="/assets/css/index.css">
{% endblock %}

<main class="main-content">
  <div class="yacht-gallery">
    {% for yacht in yachts %}
      {% if yacht.thumbnail %}
        <div class="yacht-item">
          <a href="/yachts/{{ yacht.slug }}/">
            <img src="{{ yacht.thumbnail }}" srcset="{{ yacht.thumbnail }}" alt="{{ yacht.name }} thumbnail" loading="lazy" />
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</main>
