---
layout: base.njk
title: Yachts - Sylvia Bolton Design
---

<main class="main-content">
  <div class="yacht-gallery">
    {% for yacht in yachts %}
      {% if yacht.thumbnail %}
        <div class="yacht-item">
          <a href="/yachts/{{ yacht.slug }}/">
            <img src="{{ yacht.thumbnail }}" alt="{{ yacht.name }} thumbnail" />
            <div class="yacht-caption">{{ yacht.name }}</div>
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</main>
